.gradle
app/src/ru/assets
app/src/uk/assets
/local.properties
/.idea
.DS_Store
/build
/captures
*.iml
local.properties
.kotlin/errors*

/data/android-database/build
/data/room-database/build
/data/build
/data/room-database/database-test-fixtures/build

# build results (apk)
/app/*/release/

/database/test-data

.kotlin

/domain/build
/domain/domain-test-fixtures/build
/backup/build

/output
/local-repo