# Gradle
.gradle/
build/
*/build/
!*/src/**/build/

# IntelliJ IDEA
.idea/
*.iml

# macOS
.DS_Store

# Local configuration
local.properties
/local.properties

# Kotlin
.kotlinc/
.kotlin/
.kotlin/errors*

# Android
captures/
output/
app/*/release/
data/db-android/test-db
local-repo/

# Assets (if not needed in VCS)
app/src/ru/assets/
app/src/uk/assets/

# Yarn
node_modules/
yarn-error.log
yarn-debug.log*

# Misc
*.log