<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2018 The P&W Songs Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:name=".PwsApplication"
    android:theme="@style/Theme.AppTheme">
    <activity
      android:name=".activity.MainActivity"
      android:exported="true"
      android:theme="@style/Theme.AppTheme.Launcher">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.SENDTO"/>
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activity.SearchActivity"
      android:exported="false"
      android:label="@string/title_activity_search"
      android:launchMode="singleTop"
      android:theme="@style/Theme.AppTheme">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>

      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />
    </activity>
    <activity
      android:name=".activity.SongActivity"
      android:label=""
      android:parentActivityName=".activity.MainActivity"
      android:theme="@style/Theme.AppTheme.NoActionBar">
      <meta-data
        android:name="android.app.default_searchable"
        android:value="com.alelk.pws.pwapp.activity.SearchActivity" />
    </activity>
<!--    <activity-->
<!--      android:name=".activity.SongFullscreenActivity"-->
<!--      android:configChanges="orientation|keyboardHidden|screenSize"-->
<!--      android:label="@string/title_activity_song_fullscreen"-->
<!--      android:theme="@style/Theme.AppTheme.NoActionBar" />-->
    <activity
      android:name=".activity.SongEditActivity"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:parentActivityName=".activity.SongActivity"
      android:label="@string/title_activity_song_edit"
      android:windowSoftInputMode="adjustResize"
      android:theme="@style/Theme.AppTheme.NoActionBar" />
    <activity
      android:name=".activity.TagsActivity"
      android:label="@string/title_activity_category"
      android:parentActivityName=".activity.MainActivity" />
    <activity
        android:name=".activity.TagSongsActivity"
        android:label="@string/title_activity_category_songs"
        android:parentActivityName=".activity.TagsActivity" />
    <activity
      android:name=".activity.MainSettingsActivity"
      android:label="@string/title_activity_main_settings"
      android:parentActivityName=".activity.MainActivity" />
  </application>

</manifest>