name: Android CI

on:
  push:
    branches: [ "master"]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      packages: write

    steps:
    - uses: actions/checkout@v3

    - name: set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Build ruDebug & ukDebug
      run: |
        chmod +x gradlew
        ./gradlew buildRuDebug buildUkDebug testRuDebug :database:jvmTest

    - name: Set up Node 20
      uses: actions/setup-node@v4
      with:
        node-version: '20.18.0'
      if: success() && github.ref == 'refs/heads/master'

    - name: Install Semantic Release plugins
      run: npm install --global semantic-release@24.1.2 @semantic-release/changelog@6.0.3 @semantic-release/git@10.0.1 @semantic-release/github@9.2.5 @semantic-release/exec@6.0.3
      if: success() && github.ref == 'refs/heads/master'

    - name: Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: npx semantic-release
      if: success() && github.ref == 'refs/heads/master'

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: APP Version
        path: app.version
        retention-days: 30
      if: success() && github.ref == 'refs/heads/master'
